
//- td.collapsing.grey.center.aligned #{projectId}
td.collapsing.grey.center.aligned #{suiteId}
td #{suiteName}
td.collapsing.grey.center.aligned #{prId}
if hasFailed
  td.collapsing.center.aligned(data-tooltip="Has failed comparisons")
    i.large.red.icon.close
else if hasNew
  td.collapsing.center.aligned(data-tooltip="Has new images")
    i.large.blue.icon.file.outline
else if hasDeleted
  td.collapsing.center.aligned(data-tooltip="Has some deleted images")
    i.large.red.icon.trash.outline
else if hasPassed
  td.collapsing.center.aligned
    i.large.green.icon.checkmark
else
  td.collapsing.center.aligned(data-tooltip="No screenshots yet")
    i.large.white.icon.circle.outline

td.collapsing.grey.center.aligned #{dateF}
td.collapsing.refreshCell
  i.icon.refresh
